* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    background: url(../image/n10-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 188px 0px;
}

.header_content {
    width: 73%;
    margin: auto;
    background-color: #f2f2f2c7;
    padding: 30px;
}

.header_content h1 {
    color: #5f5f5f;
    font-size: 28px;
    text-align: center;

}

.header_content h2 {
    color: #5f5f5f;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.header_content p {
    color: #5f5f5f;
    font-size: 18px;
    margin-bottom: 10px;
}

.download {
    padding: 25px 0px 0px 0px;
    text-align: center;
}

.btn-download {
    padding: 0;
    background: #B87333;
    border-radius: 0;
    padding: 5px 20px;
    font-size: 18px;
    color: #fff;
}

.btn-download:hover {
    color: #fff;
    background: #333333;
}

/* header ends */

/* portfolio */
.portfolio {
    padding-bottom: 60px;
}

.portfolio h4 {
    color: #665b52;
    padding: 100px 0px 10px 0px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.top-gap {

    padding-top: 50px;
}

.properties {}

.property_image {}

.property_image img {width: 100%;}

.property_content {
    text-align: center;
}

.property_content h2 {
    padding: 0;
    font-weight: 600;
    color: #5f5f5f;
    font-size: 24px;
    padding: 15px 0px;
    font-weight: 700;
}

.property_content h3 {
    color: #5f5f5f;
    font-size: 22px;
    padding-bottom: 16px;
}

.tooggle {}

.accordion-item {}

.accordion-item:last-of-type .accordion-button.collapsed {
    padding: 0px 40%;
    background: transparent;
    color: #b87333;
    font-size: 18px;
}

.accordion-header {
    padding: 0 !important;
}

.accordion-item {
    margin: auto;
    padding: 0;
}

.accordion-item {
    border: none;
    background-color: transparent;
}


.accordion-item:first-of-type .accordion-button {
    padding: 0 37%;
    color: #575757;
}

.accordion-button::after {
    background-image: url(../image/chevron-down-svgrepo-com.png);
}

.accordion-item:first-of-type .accordion-button {
    padding: 0px 40%;
    background: transparent;
    box-shadow: none;
    color: #5f5f5f;
    font-size: 18px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../image/chevron-down-svgrepo-com.svg);
    transform: rotate(-180deg);
}

.accordion-body {
    text-align: left;
    padding: 0;
    padding: 15px;
    background-color: #EEEEEE;
    margin-top: 10px;
}

.accordion-body p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #333333;
}

.accordion-body ul li {
    list-style: inside;
}

.middle_property {
    text-align: center;
}


.mbody {

    width: 55%;

    margin: auto;

    margin-top: 10px;
}

.footer {}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.footer_content p {
    color: #5f5f5f;
    font-size: 15px;
}

#back-to-top {

    background: #cccccccf;

    border-radius: 0;

    box-shadow: none;

    width: 44px;

    height: 42px;
}

.mimg{}

.mimg img{
    width: 50%;
}

.middle_btn {
    padding: 0px 45%!important;
}

#back-to-top:hover {
    background-color: #0000004d;
}

#back-to-top svg {
    height: 30px;
    width: 30px;
    margin: 7px auto 0;
}

